.all_products_pagination,
.edit_profile_form {

    margin: 0 auto;
    text-align: center;

}

.track_form-group,
.track_order_form {
    margin: 0 auto;

}

.profile_image,
.profile_info,
.order_succes_info,
.review_info {

    text-align: center;
}

.review_info {
    width: 150px;
    height: 150px;
}